:root {
    --primary: #19191B;
    --secondary: #696871;
    --btn-background: #FF7143;
    --blue: #5454D4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

p {
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    padding-block: 30px;
}

.header__container, .hero__container, .companies__container {
    max-width: 1069px;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 49px;
}

.header__list-link {
    color: var(--secondary);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.47px;
    transition: color 0.3s ease-in-out;
}

.header__list-link.active {
    color: var(--primary);
    padding-bottom: 10px;
    border-bottom: 2px solid var(--blue);
}

.header__list-link:hover {
    color: var(--primary);
}

.header__button , .hero__button {
    padding: 19px 59px;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.53px;
    transition: all 0.3s ease-in-out;
}

.header__button {
    background-color: var(--btn-background);
    border: 2px solid var(--btn-background);
}

.header__button:hover {
    background-color: #fff;
    color: var(--btn-background);
}

.hero {
    padding-block: 70px;
}

.hero__container {
    position: relative;
}

.hero__content {
    padding-block: 92px;
    max-width: 423px;
}

.hero__title {
    font-size: 80px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: -2.5px;
}

.hero__desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.63px;
    color: var(--secondary);
    margin-top: 30px;
}

.hero__buttons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero__button {
    background-color: var(--blue);
    border: 2px solid var(--blue);
}

.hero__button:hover {
    background-color: #fff;
    color: var(--blue);
}

.hero__scroll {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E7E7E7;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.hero__scroll:hover {
    border-color: var(--primary);
}

.hero__image {
    position: absolute;
    top: 0;
    right: -75px;
}

.companies {
    padding-block: 30px;
}

.companies__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}